openapi: 3.1.0
info:
    title: API Documentation
    version: '1.0'
    description: |-
        ## Getting started

        _**GlobalQuran is a well-written ecosystem of UI pages, widgets, APIs, and searches that anyone can use to embed Quran directly on their site.**_

        _This is whether you use **WordPress, Facebook, PHP, just plain html**__**+js,**_ or anything else.

        GlobalQuran (GQ) aims to enable different website, mobile, and desktop developers to reuse existing codebases and quickly embed Quran on their websites.

        * allow max reuse; avoid everyone reinventing the wheel
        * fully and allow user customizations. overwrite CSS styles or pretty much anything else
        * all the code is up on git and APIs are well documented below

        **Get My API Key**

        To get started with API requests, you will need an API key. Get your [API KEY](http://globalquran.com/contribute/signup.php) now.


        **About GlobalQuran**

        * [About us](https://blog.globalquran.com/about-us/)
        * [Contributors](https://blog.globalquran.com/about-us/)
        * [Download Code](https://github.com/GlobalQuran/site)
        * [Blog](https://blog.globalquran.com/)
        * [Features](https://blog.globalquran.com/feature-list/)
        * [Donate](https://globalquran.com/donate)


        **Plugins**

        * [wordpress plugin](http://blog.globalquran.com/help/wordpress-plugin/)


        **Javascript Library**

        * [Quran](https://github.com/GlobalQuran/v3/blob/main/javascript/Quran.js)
        * [GQ](https://github.com/GlobalQuran/v3/blob/main/javascript/GQ.js)


        **PHP Library**

        * [Quran](https://github.com/GlobalQuran/lab/blob/master/plugins/quran-tool/quran.class.php)
    contact:
        email: info@globalquran.com
        name: Global Quran
        url: 'https://blog.globalquran.com/contact-us/'
    license:
        identifier: W3C
    summary: 'GlobalQuran (GQ) aims to enable different website, mobile, and desktop developers to reuse existing codebases and quickly embed Quran on their websites.'
servers:
    - url: 'https://api.globalquran.com'
paths:
    /quran:
        get:
            summary: Quran / Translation / Recitor List
            tags: []
            responses:
                '200':
                    $ref: '#/components/responses/quranList'
            operationId: get-quran-list
            description: |-
                Get Quran, Translation and Recitor available list.

                Basic information about the saved data and each key will be used to fetch further data of quran, translation or available audios using the available apis.

                ***Demo***

                [quran list](https://docs.globalquran.com/examples/quran-list.html) - ([source](https://github.com/GlobalQuran/docs/blob/main/examples/quran-list.html))

                [translation list](https://docs.globalquran.com/examples/quran-list-translation.html) - ([source](https://github.com/GlobalQuran/docs/blob/main/examples/quran-list-translation.html))

                [recitor list](https://docs.globalquran.com/examples/quran-list-recitors.html) - ([source](https://github.com/GlobalQuran/docs/blob/main/examples/quran-list-recitors.html))
            parameters:
                - $ref: '#/components/parameters/jsoncallback'
    '/page/{pageNo}/{quranId}':
        parameters:
            - $ref: '#/components/parameters/pageNo'
            - $ref: '#/components/parameters/quranId'
            - $ref: '#/components/parameters/jsoncallback'
        get:
            summary: Get Quran Page
            tags: []
            responses:
                '200':
                    $ref: '#/components/responses/quranTextList'
            operationId: get-quran-page
            description: |-
                Fetchs the quran data page by page.

                There are total 604 pages of Quran.

                Pages can be accessed by page number, verse number or surah:ayah number.


                ***Get page number value examples:***

                55 (page number will be pulled)
                2:1 (page will be pulled for surah 2 and ayah number 1)

                ***Demo***

                [quran by page](https://docs.globalquran.com/examples/quran-by-page.html) - ([source](https://github.com/GlobalQuran/docs/blob/main/examples/quran-by-page.html))
    '/surah/{surahNo}/{quranId}':
        parameters:
            - $ref: '#/components/parameters/surahNo'
            - $ref: '#/components/parameters/quranId'
            - $ref: '#/components/parameters/jsoncallback'
        get:
            summary: Get Quran Surah
            tags: []
            responses:
                '200':
                    $ref: '#/components/responses/quranTextList'
            operationId: get-quran-surah
            description: |-
                Quran data content surah by surah

                There are total 114 surah

                ***Demo***

                [quran by surah](https://docs.globalquran.com/examples/quran-by-surah.html) - ([source](https://github.com/GlobalQuran/docs/blob/main/examples/quran-by-surah.html))
    '/juz/{juzNo}/{quranId}':
        parameters:
            - $ref: '#/components/parameters/juzNo'
            - $ref: '#/components/parameters/quranId'
            - $ref: '#/components/parameters/jsoncallback'
        get:
            summary: Get Quran Juz
            tags: []
            responses:
                '200':
                    $ref: '#/components/responses/quranTextList'
            operationId: get-quran-juz
            description: |-
                Quran data content juz by juz.

                There are total 30 juz

                ***Demo***

                [quran by juz](https://docs.globalquran.com/examples/quran-by-juz.html) - ([source](https://github.com/GlobalQuran/docs/blob/main/examples/quran-by-juz.html))
    '/ayah/{ayahNo}/{quranId}':
        parameters:
            - $ref: '#/components/parameters/ayahNo'
            - $ref: '#/components/parameters/quranId'
            - $ref: '#/components/parameters/jsoncallback'
        get:
            summary: Get Quran Ayaz
            tags: []
            responses:
                '200':
                    $ref: '#/components/responses/quranTextAyah'
            operationId: get-quran-ayah
            description: |-
                This will pull the single ayah content only

                There are total 6236 ayahs


                ***Demo***

                [quran by ayah](https://docs.globalquran.com/examples/quran-by-ayah.html) - ([source](https://github.com/GlobalQuran/docs/blob/main/examples/quran-by-ayah.html))
    '/complete/{quranId}':
        parameters:
            - $ref: '#/components/parameters/quranId'
            - $ref: '#/components/parameters/format'
            - $ref: '#/components/parameters/jsoncallback'
        get:
            summary: Get Complete Quran
            tags: []
            operationId: get-quran-complete
            responses:
                '200':
                    $ref: '#/components/responses/quranCompleteData'
            description: |-
                Get's the complete quran with one request. useful for offline mode.


                ***Demo***

                [complete quran](https://docs.globalquran.com/examples/quran-complete.html) - ([source](https://github.com/GlobalQuran/docs/blob/main/examples/quran-complete.html))
    '/all/{dataIn}/{dataInNo}/{quranId}/{langCode}':
        parameters:
            - $ref: '#/components/parameters/dataIn'
            - $ref: '#/components/parameters/dataInNo'
            - $ref: '#/components/parameters/quranId'
            - $ref: '#/components/parameters/langCode'
            - $ref: '#/components/parameters/jsoncallback'
        get:
            summary: Getting All with One Request
            tags: []
            responses:
                '200':
                    $ref: '#/components/responses/requestAll'
            operationId: get-all
            description: |-
                Fetchs the quran data, quran list, recitor list, language list, user country, user country language list and user country default language. This method we use on GlobalQuran.com 3.0.

                Use this method only on first time call, on next call use quran data for pages, surah, juz or ayah only.


                ***Demo***

                [all request in one](https://docs.globalquran.com/examples/quran-all-in-one-request.html) - ([source](https://github.com/GlobalQuran/docs/blob/main/examples/quran-all-in-one-request.html))
components:
    schemas:
        quranList:
            type: object
            examples:
                - quranList:
                      ar.muyassar:
                          language_code: ar
                          name: تفسير المیسر
                          english_name: King Fahad Quran Complex
                          native_name: تفسير المیسر
                          format: text
                          type: tafsir
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      az.mammadaliyev:
                          language_code: az
                          name: Məmmədəliyev & Bünyadov
                          english_name: Vasim Mammadaliyev and Ziya Bunyadov
                          native_name: Məmmədəliyev & Bünyadov
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      az.musayev:
                          language_code: az
                          name: Musayev
                          english_name: Alikhan Musayev
                          native_name: Musayev
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      bn.bengali:
                          language_code: bn
                          name: মুহিউদ্দীন খান
                          english_name: Muhiuddin Khan
                          native_name: মুহিউদ্দীন খান
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      cs.hrbek:
                          language_code: cs
                          name: Hrbek
                          english_name: Preklad I. Hrbek
                          native_name: Hrbek
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      cs.nykl:
                          language_code: cs
                          name: Nykl
                          english_name: A. R. Nykl
                          native_name: Nykl
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      de.aburida:
                          language_code: de
                          name: Abu Rida
                          english_name: Abu Rida Muhammad ibn Ahmad ibn Rassoul
                          native_name: Abu Rida
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      de.bubenheim:
                          language_code: de
                          name: Bubenheim & Elyas
                          english_name: A. S. F. Bubenheim and N. Elyas
                          native_name: Bubenheim & Elyas
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      de.khoury:
                          language_code: de
                          name: Khoury
                          english_name: Adel Theodor Khoury
                          native_name: Khoury
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      de.zaidan:
                          language_code: de
                          name: Zaidan
                          english_name: Amir Zaidan
                          native_name: Zaidan
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      dv.divehi:
                          language_code: dv
                          name: ދިވެހި
                          english_name: Office of the President of Maldives
                          native_name: ދިވެހި
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.ahmedali:
                          language_code: en
                          name: Ahmed Ali
                          english_name: Ahmed Ali
                          native_name: Ahmed Ali
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.ahmedraza:
                          language_code: en
                          name: Ahmed Raza Khan
                          english_name: Ahmed Raza Khan
                          native_name: Ahmed Raza Khan
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.arberry:
                          language_code: en
                          name: Arberry
                          english_name: A. J. Arberry
                          native_name: Arberry
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.asad:
                          language_code: en
                          name: Asad
                          english_name: Muhammad Asad
                          native_name: Asad
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.daryabadi:
                          language_code: en
                          name: Daryabadi
                          english_name: Abdul Majid Daryabadi
                          native_name: Daryabadi
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.hilali:
                          language_code: en
                          name: Hilali & Khan
                          english_name: Muhammad Taqi-ud-Din al-Hilali and Muhammad Muhsin Khan
                          native_name: Hilali & Khan
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.pickthall:
                          language_code: en
                          name: Pickthall
                          english_name: Mohammed Marmaduke William Pickthall
                          native_name: Pickthall
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.qaribullah:
                          language_code: en
                          name: Qaribullah & Darwish
                          english_name: Hasan al-Fatih Qaribullah and Ahmad Darwish
                          native_name: Qaribullah & Darwish
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.sahih:
                          language_code: en
                          name: Saheeh International
                          english_name: Saheeh International
                          native_name: Saheeh International
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.sarwar:
                          language_code: en
                          name: Sarwar
                          english_name: Muhammad Sarwar
                          native_name: Sarwar
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.yusufali:
                          language_code: en
                          name: Yusuf Ali
                          english_name: Abdullah Yusuf Ali
                          native_name: Yusuf Ali
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fa.ayati:
                          language_code: fa
                          name: آیتی
                          english_name: AbdolMohammad Ayati
                          native_name: آیتی
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fa.fooladvand:
                          language_code: fa
                          name: فولادوند
                          english_name: Mohammad Mahdi Fooladvand
                          native_name: فولادوند
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fa.ghomshei:
                          language_code: fa
                          name: الهی قمشه‌ای
                          english_name: Mahdi Elahi Ghomshei
                          native_name: الهی قمشه‌ای
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fa.makarem:
                          language_code: fa
                          name: مکارم شیرازی
                          english_name: Naser Makarem Shirazi
                          native_name: مکارم شیرازی
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fr.hamidullah:
                          language_code: fr
                          name: Hamidullah
                          english_name: Muhammad Hamidullah
                          native_name: Hamidullah
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ha.gumi:
                          language_code: ha
                          name: Gumi
                          english_name: Abubakar Mahmoud Gumi
                          native_name: Gumi
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      hi.hindi:
                          language_code: hi
                          name: फ़ारूक़ ख़ान & नदवी
                          english_name: Suhel Farooq Khan and Saifur Rahman Nadwi
                          native_name: फ़ारूक़ ख़ान & नदवी
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      id.indonesian:
                          language_code: id
                          name: Bahasa Indonesia
                          english_name: Unknown
                          native_name: Bahasa Indonesia
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      it.piccardo:
                          language_code: it
                          name: Piccardo
                          english_name: Hamza Roberto Piccardo
                          native_name: Piccardo
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ja.japanese:
                          language_code: ja
                          name: Japanese
                          english_name: Unknown
                          native_name: Japanese
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ko.korean:
                          language_code: ko
                          name: Korean
                          english_name: Unknown
                          native_name: Korean
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ku.asan:
                          language_code: ku
                          name: ته‌فسیری ئاسان
                          english_name: Burhan Muhammad-Amin
                          native_name: ته‌فسیری ئاسان
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ml.abdulhameed:
                          language_code: ml
                          name: അബ്ദുല്‍ ഹമീദ് & പറപ്പൂര്‍
                          english_name: Cheriyamundam Abdul Hameed and Kunhi Mohammed Parappoor
                          native_name: അബ്ദുല്‍ ഹമീദ് & പറപ്പൂര്‍
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      nl.keyzer:
                          language_code: nl
                          name: Keyzer
                          english_name: Salomo Keyzer
                          native_name: Keyzer
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      no.berg:
                          language_code: 'no'
                          name: Einar Berg
                          english_name: Einar Berg
                          native_name: Einar Berg
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      pl.bielawskiego:
                          language_code: pl
                          name: Bielawskiego
                          english_name: Józefa Bielawskiego
                          native_name: Bielawskiego
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      pt.elhayek:
                          language_code: pt
                          name: El-Hayek
                          english_name: Samir El-Hayek
                          native_name: El-Hayek
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ro.grigore:
                          language_code: ro
                          name: Grigore
                          english_name: George Grigore
                          native_name: Grigore
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ru.kuliev:
                          language_code: ru
                          name: Кулиев
                          english_name: Elmir Kuliev
                          native_name: Кулиев
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ru.osmanov:
                          language_code: ru
                          name: Османов
                          english_name: Magomed-Nuri Osmanovich Osmanov
                          native_name: Османов
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ru.porokhova:
                          language_code: ru
                          name: Порохова
                          english_name: V. Porokhova
                          native_name: Порохова
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      sd.amroti:
                          language_code: sd
                          name: امروٽي
                          english_name: Taj Mehmood Amroti
                          native_name: امروٽي
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      so.abduh:
                          language_code: so
                          name: Abduh
                          english_name: Mahmud Muhammad Abduh
                          native_name: Abduh
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      sq.ahmeti:
                          language_code: sq
                          name: Sherif Ahmeti
                          english_name: Sherif Ahmeti
                          native_name: Sherif Ahmeti
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      sq.mehdiu:
                          language_code: sq
                          name: Feti Mehdiu
                          english_name: Feti Mehdiu
                          native_name: Feti Mehdiu
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      sq.nahi:
                          language_code: sq
                          name: Efendi Nahi
                          english_name: Hasan Efendi Nahi
                          native_name: Efendi Nahi
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      sv.bernstrom:
                          language_code: sv
                          name: Bernström
                          english_name: Knut Bernström
                          native_name: Bernström
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      sw.barwani:
                          language_code: sw
                          name: Al-Barwani
                          english_name: Ali Muhsin Al-Barwani
                          native_name: Al-Barwani
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ta.tamil:
                          language_code: ta
                          name: ஜான் டிரஸ்ட்
                          english_name: Jan Turst Foundation
                          native_name: ஜான் டிரஸ்ட்
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tg.ayati:
                          language_code: tg
                          name: Оятӣ
                          english_name: AbdolMohammad Ayati
                          native_name: Оятӣ
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      th.thai:
                          language_code: th
                          name: ภาษาไทย
                          english_name: King Fahad Quran Complex
                          native_name: ภาษาไทย
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tr.ates:
                          language_code: tr
                          name: Süleyman Ateş
                          english_name: Suleyman Ates
                          native_name: Süleyman Ateş
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tr.bulac:
                          language_code: tr
                          name: Alİ Bulaç
                          english_name: Alİ Bulaç
                          native_name: Alİ Bulaç
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tr.diyanet:
                          language_code: tr
                          name: Diyanet İşleri
                          english_name: Diyanet Isleri
                          native_name: Diyanet İşleri
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tr.golpinarli:
                          language_code: tr
                          name: Abdulbakî Gölpınarlı
                          english_name: Abdulbaki Golpinarli
                          native_name: Abdulbakî Gölpınarlı
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tr.ozturk:
                          language_code: tr
                          name: Öztürk
                          english_name: Yasar Nuri Ozturk
                          native_name: Öztürk
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tr.transliteration:
                          language_code: tr
                          name: Çeviriyazı
                          english_name: Muhammet Abay
                          native_name: Çeviriyazı
                          format: text
                          type: transliteration
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tr.vakfi:
                          language_code: tr
                          name: Diyanet Vakfı
                          english_name: Diyanet Vakfi
                          native_name: Diyanet Vakfı
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tr.yazir:
                          language_code: tr
                          name: Elmalılı Hamdi Yazır
                          english_name: Elmalili Hamdi Yazir
                          native_name: Elmalılı Hamdi Yazır
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tr.yildirim:
                          language_code: tr
                          name: Suat Yıldırım
                          english_name: Suat Yildirim
                          native_name: Suat Yıldırım
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tr.yuksel:
                          language_code: tr
                          name: Edip Yüksel
                          english_name: Edip Yüksel
                          native_name: Edip Yüksel
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      tt.nugman:
                          language_code: tt
                          name: Yakub Ibn Nugman
                          english_name: Yakub Ibn Nugman
                          native_name: Yakub Ibn Nugman
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ug.saleh:
                          language_code: ug
                          name: محمد صالح
                          english_name: Muhammad Saleh
                          native_name: محمد صالح
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ur.ahmedali:
                          language_code: ur
                          name: احمد علی
                          english_name: Ahmed Ali
                          native_name: احمد علی
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ur.jalandhry:
                          language_code: ur
                          name: جالندہری
                          english_name: Fateh Muhammad Jalandhry
                          native_name: جالندہری
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ur.jawadi:
                          language_code: ur
                          name: علامہ جوادی
                          english_name: Syed Zeeshan Haider Jawadi
                          native_name: علامہ جوادی
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ur.kanzuliman:
                          language_code: ur
                          name: احمد رضا خان
                          english_name: Ahmed Raza Khan
                          native_name: احمد رضا خان
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ur.qadri:
                          language_code: ur
                          name: طاہر القادری
                          english_name: Tahir ul Qadri
                          native_name: طاہر القادری
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      uz.sodik:
                          language_code: uz
                          name: Мухаммад Содик
                          english_name: Muhammad Sodik Muhammad Yusuf
                          native_name: Мухаммад Содик
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.maududi:
                          language_code: en
                          name: Maududi
                          english_name: Abul Ala Maududi
                          native_name: Maududi
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.shakir:
                          language_code: en
                          name: Shakir
                          english_name: Mohammad Habib Shakir
                          native_name: Shakir
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      en.transliteration:
                          language_code: en
                          name: Transliteration
                          english_name: English Transliteration
                          native_name: Transliteration
                          format: text
                          type: transliteration
                          source: quran411.com
                          default: false
                          media: []
                          last_update: '2016-02-29'
                      es.cortes:
                          language_code: es
                          name: Cortes
                          english_name: Julio Cortes
                          native_name: Cortes
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fa.ansarian:
                          language_code: fa
                          name: انصاریان
                          english_name: Hussain Ansarian
                          native_name: انصاریان
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      quran-simple:
                          language_code: ar
                          name: Simple
                          english_name: Simple
                          native_name: Simple
                          format: text
                          type: quran
                          source: Tanzil.info
                          default: false
                          media: []
                          last_update: '2016-05-08'
                      quran-simple-clean:
                          language_code: ar
                          name: Simple Clean
                          english_name: Simple Clean
                          native_name: Simple Clean
                          format: text
                          type: quran
                          source: Tanzil.info
                          default: false
                          media: []
                          last_update: '2016-05-08'
                      quran-simple-enhanced:
                          language_code: ar
                          name: Simple Enhanced
                          english_name: Simple Enhanced
                          native_name: Simple Enhanced
                          format: text
                          type: quran
                          source: Tanzil.info
                          default: false
                          media: []
                          last_update: '2016-05-08'
                      quran-simple-min:
                          language_code: ar
                          name: Simple Minimal
                          english_name: Simple Minimal
                          native_name: Simple Minimal
                          format: text
                          type: quran
                          source: Tanzil.info
                          default: false
                          media: []
                          last_update: '2016-05-08'
                      quran-uthmani-min:
                          language_code: ar
                          name: Uthmani Minimal
                          english_name: Uthmani Minimal
                          native_name: Uthmani Minimal
                          format: text
                          type: quran
                          source: Tanzil.info
                          default: false
                          media: []
                          last_update: '2016-05-08'
                      quran-uthmani:
                          language_code: ar
                          name: Uthamani
                          english_name: Uthamani
                          native_name: Uthamani
                          format: text
                          type: quran
                          source: Tanzil.info
                          default: false
                          media: []
                          last_update: '2016-05-08'
                      bg.theophanov:
                          language_code: bg
                          name: Теофанов
                          english_name: Tzvetan Theophanov
                          native_name: Теофанов
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      bs.mlivo:
                          language_code: bs
                          name: Mlivo
                          english_name: Mustafa Mlivo
                          native_name: Mlivo
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fa.bahrampour:
                          language_code: fa
                          name: بهرام پور
                          english_name: Abolfazl Bahrampour
                          native_name: بهرام پور
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      es.asad:
                          language_code: es
                          name: Asad
                          english_name: Muhammad Asad - Abdurrasak Pérez
                          native_name: Asad
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fa.khorramshahi:
                          language_code: fa
                          name: خرمشاهی
                          english_name: Baha'oddin Khorramshahi
                          native_name: خرمشاهی
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fa.mojtabavi:
                          language_code: fa
                          name: مجتبوی
                          english_name: Sayyed Jalaloddin Mojtabavi
                          native_name: مجتبوی
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      hi.farooq:
                          language_code: hi
                          name: फ़ारूक़ ख़ान & अहमद
                          english_name: Muhammad Farooq Khan and Muhammad Ahmed
                          native_name: फ़ारूक़ ख़ान & अहमद
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      id.muntakhab:
                          language_code: id
                          name: Quraish Shihab
                          english_name: Muhammad Quraish Shihab et al.
                          native_name: Quraish Shihab
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ms.basmeih:
                          language_code: ms
                          name: Basmeih
                          english_name: Abdullah Muhammad Basmeih
                          native_name: Basmeih
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ru.abuadel:
                          language_code: ru
                          name: Абу Адель
                          english_name: Abu Adel
                          native_name: Абу Адель
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ru.krachkovsky:
                          language_code: ru
                          name: Крачковский
                          english_name: Ignaty Yulianovich Krachkovsky
                          native_name: Крачковский
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ru.muntahab:
                          language_code: ru
                          name: Аль-Мунтахаб
                          english_name: 'Ministry of Awqaf, Egypt'
                          native_name: Аль-Мунтахаб
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ru.sablukov:
                          language_code: ru
                          name: Саблуков
                          english_name: Gordy Semyonovich Sablukov
                          native_name: Саблуков
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ur.junagarhi:
                          language_code: ur
                          name: محمد جوناگڑھی
                          english_name: Muhammad Junagarhi
                          native_name: محمد جوناگڑھی
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ur.maududi:
                          language_code: ur
                          name: ابوالاعلی مودودی
                          english_name: Abul A'ala Maududi
                          native_name: ابوالاعلی مودودی
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      zh.jian:
                          language_code: zh
                          name: Ma Jian
                          english_name: Ma Jian
                          native_name: Ma Jian
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      zh.majian:
                          language_code: zh
                          name: Ma Jian (Traditional)
                          english_name: Ma Jian
                          native_name: Ma Jian (Traditional)
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fa.khorramdel:
                          language_code: fa
                          name: خرمدل
                          english_name: Mostafa Khorramdel
                          native_name: خرمدل
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      fa.moezzi:
                          language_code: fa
                          name: معزی
                          english_name: Mohammad Kazem Moezzi
                          native_name: معزی
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      bs.korkut:
                          language_code: bs
                          name: Korkut
                          english_name: Besim Korkut
                          native_name: Korkut
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      ar.jalalayn:
                          language_code: ar
                          name: تفسير الجلالين
                          english_name: Jalal ad-Din al-Mahalli and Jalal ad-Din as-Suyuti
                          native_name: تفسير الجلالين
                          format: text
                          type: tafsir
                          source: Tanzil.net
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      quran-tajweed:
                          language_code: ar
                          name: Tajweed
                          english_name: Tajweed
                          native_name: Tajweed
                          format: text
                          type: quran
                          source: Hafidh.com
                          default: false
                          media: []
                          last_update: '2016-02-08'
                      quran-wordbyword:
                          language_code: ar
                          name: Word By Word
                          english_name: Word By Word
                          native_name: Word By Word
                          format: text
                          type: quran
                          source: Hafidh.com
                          default: false
                          media: []
                          last_update: '2016-02-08'
                      ar.abdulbasitmurattal:
                          language_code: ar
                          name: Abdul Basit
                          english_name: Abdul Basit
                          native_name: ''
                          format: audio
                          type: translation
                          source: ''
                          default: false
                          media: '{"mp3-64":{"path":"\/\/audio.globalquran.com\/ar.abdulbasitmurattal\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":true},"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.abdulbasitmurattal\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":true},"mp3-192":{"path":"\/\/audio.globalquran.com\/ar.abdulbasitmurattal\/mp3\/192kbs\/","type":"mp3","kbs":"192","auz":true}}'
                          last_update: null
                      ar.abdulbasitmujawwad:
                          language_code: ar
                          name: Abdul Basit (Mujawwad)
                          english_name: Abdul Basit (Mujawwad)
                          native_name: ''
                          format: audio
                          type: translation
                          source: ''
                          default: false
                          media: '{"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.abdulbasitmujawwad\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":true},"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.abdulbasitmujawwad\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":true}}'
                          last_update: null
                      ar.abdullahbasfar:
                          language_code: ar
                          name: Abdullah Basfar
                          english_name: Abdullah Basfar
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-32":{"path":"\/\/audio.globalquran.com\/ar.abdullahbasfar\/mp3\/32kbs\/","type":"mp3","kbs":"32","auz":false},"mp3-64":{"path":"\/\/audio.globalquran.com\/ar.abdullahbasfar\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":false},"mp3-192":{"path":"\/\/audio.globalquran.com\/ar.abdullahbasfar\/mp3\/192kbs\/","type":"mp3","kbs":"192","auz":true}}'
                          last_update: null
                      ar.abdurrahmaansudais:
                          language_code: ar
                          name: Abdurrahmaan As-Sudais
                          english_name: Abdurrahmaan As-Sudais
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-64":{"path":"\/\/audio.globalquran.com\/ar.abdurrahmaansudais\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":true},"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.abdurrahmaansudais\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":true},"mp3-192":{"path":"\/\/audio.globalquran.com\/ar.abdurrahmaansudais\/mp3\/192kbs\/","type":"mp3","kbs":"192","auz":true}}'
                          last_update: null
                      ar.abdulsamad:
                          language_code: ar
                          name: Abdul Samad
                          english_name: Abdul Samad
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-64":{"path":"\/\/audio.globalquran.com\/ar.abdulsamad\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":true}}'
                          last_update: null
                      ar.shaatree:
                          language_code: ar
                          name: Abu Bakr Ash-Shaatree
                          english_name: Abu Bakr Ash-Shaatree
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-64":{"path":"\/\/audio.globalquran.com\/ar.shaatree\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":true},"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.shaatree\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":false},"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.shaatree\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":true}}'
                          last_update: null
                      ar.ahmedajamy:
                          language_code: ar
                          name: Ahmed ibn Ali al-Ajamy
                          english_name: Ahmed ibn Ali al-Ajamy
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-64":{"path":"\/\/audio.globalquran.com\/ar.ahmedajamy\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":true},"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.ahmedajamy\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":false}}'
                          last_update: null
                      ar.alafasy:
                          language_code: ar
                          name: Alafasy
                          english_name: Alafasy
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-64":{"path":"\/\/audio.globalquran.com\/ar.alafasy\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":true},"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.alafasy\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":false},"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.alafasy\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":true}}'
                          last_update: null
                      ar.ghamadi:
                          language_code: ar
                          name: Ghamadi
                          english_name: Ghamadi
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-40":{"path":"\/\/audio.globalquran.com\/ar.ghamadi\/mp3\/40kbs\/","type":"mp3","kbs":"40","auz":true}}'
                          last_update: null
                      ar.hanirifai:
                          language_code: ar
                          name: Hani Rifai
                          english_name: Hani Rifai
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-64":{"path":"\/\/audio.globalquran.com\/ar.hanirifai\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":true},"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.hanirifai\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":false},"mp3-192":{"path":"\/\/audio.globalquran.com\/ar.hanirifai\/mp3\/192kbs\/","type":"mp3","kbs":"192","auz":false}}'
                          last_update: null
                      ar.husary:
                          language_code: ar
                          name: Husary
                          english_name: Husary
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-64":{"path":"\/\/audio.globalquran.com\/ar.husary\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":true},"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.husary\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":true},"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.husary\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":true}}'
                          last_update: null
                      ar.husarymujawwad:
                          language_code: ar
                          name: Husary (Mujawwad)
                          english_name: Husary (Mujawwad)
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-64":{"path":"\/\/audio.globalquran.com\/ar.husarymujawwad\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":true},"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.husarymujawwad\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":true},"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.husarymujawwad\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":true}}'
                          last_update: null
                      ar.hudhaify:
                          language_code: ar
                          name: Hudhaify
                          english_name: Hudhaify
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-32":{"path":"\/\/audio.globalquran.com\/ar.hudhaify\/mp3\/32kbs\/","type":"mp3","kbs":"32","auz":true},"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.hudhaify\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":true}}'
                          last_update: null
                      ar.ibrahimakhbar:
                          language_code: ar
                          name: Ibrahim Akhdar
                          english_name: Ibrahim Akhdar
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-32":{"path":"\/\/audio.globalquran.com\/ar.ibrahimakhbar\/mp3\/32kbs\/","type":"mp3","kbs":"32","auz":false}}'
                          last_update: null
                      ar.mahermuaiqly:
                          language_code: ar
                          name: Maher Al Muaiqly
                          english_name: Maher Al Muaiqly
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.mahermuaiqly\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":false}}'
                          last_update: null
                      ar.minshawi:
                          language_code: ar
                          name: Minshawi
                          english_name: Minshawi
                          native_name: ''
                          format: audio
                          type: translation
                          source: ''
                          default: false
                          media: '{"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.minshawi\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":true},"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.minshawi\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":true}}'
                          last_update: null
                      ar.minshawimujawwad:
                          language_code: ar
                          name: Minshawy (Mujawwad)
                          english_name: Minshawy (Mujawwad)
                          native_name: ''
                          format: audio
                          type: translation
                          source: ''
                          default: false
                          media: '{"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.minshawimujawwad\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":true}}'
                          last_update: null
                      ar.muhammadayyoub:
                          language_code: ar
                          name: Muhammad Ayyoub
                          english_name: Muhammad Ayyoub
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.muhammadayyoub\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":true}}'
                          last_update: null
                      ar.muhammadjibreel:
                          language_code: ar
                          name: Muhammad Jibreel
                          english_name: Muhammad Jibreel
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-128":{"path":"\/\/audio.globalquran.com\/ar.muhammadjibreel\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":true}}'
                          last_update: null
                      ar.saoodshuraym:
                          language_code: ar
                          name: Saood bin Ibraaheem Ash-Shuraym
                          english_name: Saood bin Ibraaheem Ash-Shuraym
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"ogg-64":{"path":"\/\/audio.globalquran.com\/ar.saoodshuraym\/ogg\/64kbs\/","type":"ogg","kbs":"64","auz":false}}'
                          last_update: null
                      en.walk:
                          language_code: en
                          name: Ibrahim Walk
                          english_name: Ibrahim Walk
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-192":{"path":"\/\/audio.globalquran.com\/en.walk\/mp3\/192kbs\/","type":"mp3","kbs":"192","auz":false}}'
                          last_update: null
                      fa.hedayatfarfooladvand:
                          language_code: fa
                          name: Fooladvand - Hedayatfar
                          english_name: Fooladvand - Hedayatfar
                          native_name: ''
                          format: audio
                          type: translation
                          source: ''
                          default: true
                          media: '{"mp3-40":{"path":"\/\/audio.globalquran.com\/fa.hedayatfarfooladvand\/mp3\/40kbs\/","type":"mp3","kbs":"40","auz":false}}'
                          last_update: null
                      ar.parhizgar:
                          language_code: ar
                          name: Parhizgar
                          english_name: Parhizgar
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-48":{"path":"\/\/audio.globalquran.com\/ar.parhizgar\/mp3\/48kbs\/","type":"mp3","kbs":"48","auz":false}}'
                          last_update: null
                      ur.khan:
                          language_code: ur
                          name: Shamshad Ali Khan
                          english_name: Shamshad Ali Khan
                          native_name: ''
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-64":{"path":"\/\/audio.globalquran.com\/ur.khan\/mp3\/64kbs\/","type":"mp3","kbs":"64","auz":false}}'
                          last_update: null
                      zh.chinese:
                          language_code: zh
                          name: 中文
                          english_name: Chinese
                          native_name: 中文
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-128":{"path":"\/\/audio.globalquran.com\/zh.chinese\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":false}}'
                          last_update: null
                      fr.leclerc:
                          language_code: fr
                          name: Youssouf Leclerc
                          english_name: Youssouf Leclerc
                          native_name: Youssouf Leclerc
                          format: audio
                          type: versebyverse
                          source: ''
                          default: false
                          media: '{"mp3-128":{"path":"\/\/audio.globalquran.com\/fr.leclerc\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":false}}'
                          last_update: null
                      quran-kids:
                          language_code: ar
                          name: Kids
                          english_name: Kids
                          native_name: Kids
                          format: text
                          type: quran
                          source: GlobalQuran.com
                          default: false
                          media: []
                          last_update: '2016-02-08'
                      si.naseemismail:
                          language_code: si
                          name: Naseem Ismail
                          english_name: 'Naseem Isamil and Masoor Maulana, Kaleel'
                          native_name: Naseem Ismail
                          format: text
                          type: translation
                          source: sinhalenquran.com
                          default: false
                          media: []
                          last_update: '2016-02-07'
                      quran-buck:
                          language_code: ar
                          name: Buck
                          english_name: Buck
                          native_name: Buck
                          format: text
                          type: translation
                          source: GlobalQuran.com
                          default: false
                          media: []
                          last_update: '2016-02-08'
                      zh.mazhonggang:
                          language_code: zh
                          name: Ma Zhong Gang
                          english_name: 马仲刚
                          native_name: Ma Zhong Gang
                          format: text
                          type: translation
                          source: GlobalQuran.com
                          default: false
                          media: []
                          last_update: '2016-02-28'
                      quran-uthmani-hafs:
                          language_code: ar
                          name: Uthamani Hafs
                          english_name: Uthamani Hafs
                          native_name: Uthamani Hafs
                          format: text
                          type: quran
                          source: qurancomplex.gov.sa
                          default: false
                          media: []
                          last_update: '2016-07-11'
            description: 'Quran, translation and recitor list data'
            properties:
                quranList:
                    type: object
                    properties:
                        '{quranId}':
                            type: object
                            properties:
                                language_code:
                                    type: string
                                    maxLength: 2
                                    minLength: 2
                                    example: ar
                                    pattern: '^[a-z]{2}$'
                                name:
                                    type: string
                                english_name:
                                    type: string
                                native_name:
                                    type: string
                                format:
                                    type: string
                                    example: audio
                                    description: audio or text value
                                type:
                                    type: string
                                    description: 'quran (original quran text), translation (translation of quran text), versebyvere (audio type)'
                                source:
                                    type: string
                                default:
                                    default: false
                                    description: 'If there is multiple version of same language, then default value indicate which one system should automatically pick it up.'
                                    type: boolean
                                last_update:
                                    example: '2016-07-11'
                                    format: date
                                    type: string
                                media:
                                    type: string
                                    description: encoded json object - holds the available audio and their available bandwidth properties with the audio storage url for player.
                                    example: '{"mp3-128":{"path":"\/\/audio.globalquran.com\/zh.chinese\/mp3\/128kbs\/","type":"mp3","kbs":"128","auz":false}}'
        quranText:
            title: quranText
            type: object
            properties:
                '{quranId}':
                    type: object
                    description: requested quran object
                    properties:
                        '{verseNo}':
                            type: object
                            description: single ayah object
                            properties:
                                surah:
                                    type: integer
                                    description: surah number
                                ayah:
                                    type: integer
                                    description: ayah number
                                verse:
                                    type: string
                                    description: verse content
        requestAll:
            type: object
            properties:
                languageCountryList:
                    type: object
                    properties:
                        '{langCode}':
                            type: object
                            properties:
                                country_english_name:
                                    type: string
                                country_native_name:
                                    type: string
                languageList:
                    type: object
                    properties:
                        '{langCode}':
                            type: object
                            properties:
                                english_name:
                                    type: string
                                native_name:
                                    type: string
                                dir:
                                    type: string
                                is_pack:
                                    type: string
                '{langCode}':
                    type: string
                languageSelected:
                    type: string
                quranList:
                    type: object
                    properties:
                        '{quranId}':
                            type: object
                            properties:
                                language_code:
                                    type: string
                                english_name:
                                    type: string
                                native_name:
                                    type: string
                                format:
                                    type: string
                                type:
                                    type: string
                                source:
                                    type: string
                                default:
                                    type: 'null'
                                last_update:
                                    type: string
                quran:
                    type: object
                    properties:
                        '{quranId}':
                            type: object
                            properties:
                                '{verseNo}':
                                    type: object
                                    properties:
                                        surah:
                                            type: integer
                                        ayah:
                                            type: integer
                                        verse:
                                            type: string
            examples:
                - languageCountryList:
                      ur:
                          country_english_name: Pakistan
                          country_native_name: پاکستان
                      en:
                          country_english_name: Pakistan
                          country_native_name: ''
                  languageList:
                      el:
                          english_name: Greek
                          native_name: Ελληνικά
                          dir: ''
                          is_pack: '1'
                      ar:
                          english_name: Arabic
                          native_name: العربية
                          dir: right
                          is_pack: '1'
                      en:
                          english_name: English
                          native_name: ''
                          dir: left
                          is_pack: '1'
                      ur:
                          english_name: Urdu
                          native_name: اردو
                          dir: right
                          is_pack: '1'
                  ur: ''
                  languageSelected: ur
                  quranList:
                      quran-simple:
                          language_code: ar
                          english_name: simple
                          native_name: ''
                          format: text
                          type: quran
                          source: Tanzil.info
                          default: null
                          last_update: '2010-06-04'
                      quran-uthmani:
                          language_code: ar
                          english_name: uthmani
                          native_name: ''
                          format: text
                          type: quran
                          source: Tanzil.info
                          default: null
                          last_update: '1969-12-31'
                      bs.korkut:
                          language_code: ar
                          english_name: Korkut
                          native_name: Besim Korkut
                          format: text
                          type: translation
                          source: Tanzil.net
                          default: null
                          last_update: '1969-12-31'
                      ar.jalalayn:
                          language_code: ar
                          english_name: Jalal ad-Din al-Mahalli and Jalal ad-Din as-Suyuti
                          native_name: تفسير الجلالين
                          format: text
                          type: tafsir
                          source: Tanzil.net
                          default: null
                          last_update: '1969-12-31'
                      en.sahih:
                          language_code: en
                          english_name: Sahih International
                          native_name: ''
                          format: text
                          type: translation
                          source: Tanzil.info
                          default: null
                          last_update: '1969-12-31'
                      en.pickthall:
                          language_code: en
                          english_name: Mohammed Marmaduke William Pickthall
                          native_name: ''
                          format: text
                          type: translation
                          source: Tanzil.info
                          default: null
                          last_update: '1969-12-31'
                  quran:
                      quran-simple:
                          '6222':
                              surah: 112
                              ayah: 1
                              verse: بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ قُلْ هُوَ اللَّهُ أَحَدٌ
                          '6223':
                              surah: 112
                              ayah: 2
                              verse: اللَّهُ الصَّمَدُ
                          '6224':
                              surah: 112
                              ayah: 3
                              verse: لَمْ يَلِدْ وَلَمْ يُولَدْ
                          '6225':
                              surah: 112
                              ayah: 4
                              verse: وَلَمْ يَكُنْ لَهُ كُفُوًا أَحَدٌ
                          '6226':
                              surah: 113
                              ayah: 1
                              verse: بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ قُلْ أَعُوذُ بِرَبِّ الْفَلَقِ
                          '6227':
                              surah: 113
                              ayah: 2
                              verse: مِنْ شَرِّ مَا خَلَقَ
                          '6228':
                              surah: 113
                              ayah: 3
                              verse: وَمِنْ شَرِّ غَاسِقٍ إِذَا وَقَبَ
                          '6229':
                              surah: 113
                              ayah: 4
                              verse: وَمِنْ شَرِّ النَّفَّاثَاتِ فِي الْعُقَدِ
                          '6230':
                              surah: 113
                              ayah: 5
                              verse: وَمِنْ شَرِّ حَاسِدٍ إِذَا حَسَدَ
                          '6231':
                              surah: 114
                              ayah: 1
                              verse: بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ قُلْ أَعُوذُ بِرَبِّ النَّاسِ
                          '6232':
                              surah: 114
                              ayah: 2
                              verse: مَلِكِ النَّاسِ
                          '6233':
                              surah: 114
                              ayah: 3
                              verse: إِلَٰهِ النَّاسِ
                          '6234':
                              surah: 114
                              ayah: 4
                              verse: مِنْ شَرِّ الْوَسْوَاسِ الْخَنَّاسِ
                          '6235':
                              surah: 114
                              ayah: 5
                              verse: الَّذِي يُوَسْوِسُ فِي صُدُورِ النَّاسِ
                          '6236':
                              surah: 114
                              ayah: 6
                              verse: مِنَ الْجِنَّةِ وَالنَّاسِ
            title: All With One Call
    securitySchemes:
        key:
            type: apiKey
            in: query
            name: API Key
    parameters:
        jsoncallback:
            name: jsoncallback
            in: query
            required: false
            schema:
                type: string
                example: callback
            description: callback function name (optional) - useful when needed for jsonp method - which helps with cors issues
            allowEmptyValue: true
        quranId:
            name: quranId
            in: path
            required: true
            schema:
                type: string
                example: quran-simple|en.pickthall
                default: quran-simple
            description: list of quran id separated by | (pipe)
        pageNo:
            name: pageNo
            in: path
            required: true
            schema:
                type: string
                example: '604'
                default: '604'
                minLength: 1
                maxLength: 604
            description: 'page number or can have surah:ayah number'
        surahNo:
            name: surahNo
            in: path
            required: true
            schema:
                type: string
                default: '1'
                minLength: 1
                maxLength: 114
            description: surah number
        juzNo:
            name: juzNo
            in: path
            required: true
            schema:
                type: string
                default: '30'
                maxLength: 30
                minLength: 1
            description: juz number
        ayahNo:
            name: ayahNo
            in: path
            required: true
            schema:
                type: string
                example: '2:1'
                default: '6236'
                minLength: 1
                maxLength: 6236
            description: ayah number
        langCode:
            name: langCode
            in: path
            schema:
                type: string
                example: en
            description: language code - define what language pack do you want to fetch for your user
        dataIn:
            name: dataIn
            in: path
            required: true
            schema:
                type: string
                example: page
                enum:
                    - page
                    - ayah
                    - surah
                    - juz
                default: page
            description: 'data fetch in page, ayah, surah or juz'
        dataInNo:
            name: dataInNo
            in: path
            required: true
            schema:
                type: string
                example: '2:1'
                default: '2:1'
            description: 'value of data in param - page number, surah number, juz number or surah:ayah number'
        format:
            name: format
            in: query
            required: false
            schema:
                type: string
                enum:
                    - json
                example: json
            description: json or plain text (on null)
            allowEmptyValue: true
    examples: {}
    responses:
        quranList:
            description: ''
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/quranList'
                    examples:
                        Example 1:
                            value:
                                quranList:
                                    ar.muyassar:
                                        language_code: ar
                                        name: تفسير المیسر
                                        english_name: King Fahad Quran Complex
                                        native_name: تفسير المیسر
                                        format: text
                                        type: tafsir
                                        source: Tanzil.net
                                        default: false
                                        media: []
                                        last_update: '2016-02-07'
                                    az.mammadaliyev:
                                        language_code: az
                                        name: Məmmədəliyev & Bünyadov
                                        english_name: Vasim Mammadaliyev and Ziya Bunyadov
                                        native_name: Məmmədəliyev & Bünyadov
                                        format: text
                                        type: translation
                                        source: Tanzil.net
                                        default: false
                                        media: []
                                        last_update: '2016-02-07'
                                    az.musayev:
                                        language_code: az
                                        name: Musayev
                                        english_name: Alikhan Musayev
                                        native_name: Musayev
                                        format: text
                                        type: translation
                                        source: Tanzil.net
                                        default: false
                                        media: []
                                        last_update: '2016-02-07'
                                    bn.bengali:
                                        language_code: bn
                                        name: মুহিউদ্দীন খান
                                        english_name: Muhiuddin Khan
                                        native_name: মুহিউদ্দীন খান
                                        format: text
                                        type: translation
                                        source: Tanzil.net
                                        default: false
                                        media: []
                                        last_update: '2016-02-07'
                                    cs.hrbek:
                                        language_code: cs
                                        name: Hrbek
                                        english_name: Preklad I. Hrbek
                                        native_name: Hrbek
                                        format: text
                                        type: translation
                                        source: Tanzil.net
                                        default: false
                                        media: []
                                        last_update: '2016-02-07'
                                    cs.nykl:
                                        language_code: cs
                                        name: Nykl
                                        english_name: A. R. Nykl
                                        native_name: Nykl
                                        format: text
                                        type: translation
                                        source: Tanzil.net
                                        default: false
                                        media: []
                                        last_update: '2016-02-07'
[...]
